{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <h2>Commencer une discussion</h2>

    <ul>
        {% for user in users %}
            <li>
                <strong>{{ user.nom}}</strong> 
                <a href="{{ path('app_messages', {'id': user.id}) }}">Discuter</a>
            </li>
        {% else %}
            <li>Aucun autre utilisateur disponible</li>
        {% endfor %}
    </ul>
{% endblock %}
