

@import url("register.css"); 
@import url("reservation.css"); 

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white !important;
    background-color: #2C2C2C;
  
}
