{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
    <h1>Location</h1>

    {{ include('location/_location.html.twig') }}

    <a href="{{ path('app_location_index') }}">back to list</a>

{% endblock %}
