<form method="post" action="{{ path('app_reservation_accept', {'id': reservation.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ reservation.id) }}">
    <button class="btn">Accepter</button>
</form>
